.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 50px;
}

.navbar {
  flex: 1;
  justify-content: center;
  align-content: center;
  opacity: 0.8;
  top: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.sessionsList {
  flex: 1;
  justify-content: center;
  align-content: center;
  align-self: center;
  opacity: 0.8;
  border-radius: 5px;
  margin-bottom: 50px;
}

.weekNavigation {
  flex: 1;
  justify-content: center;
  align-content: center;
  opacity: 0.8;
  top: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.calendarBody {
  justify-content: center;
  align-content: center;
  background-color: #f7f7f7;
  top: 20px;
  margin-bottom: 50px;
}
