.Form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;

  /* background-color: #51b7d3; */
  /* background-blend-mode: luminosity; */
}

label {
  color: #f7f7f7;
  padding-right: 5px;
}

.schedule {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
