.NavBar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0px 0 20px;
}

.info {
  flex-direction: row;
}

.buttonWrapper {
  align-self: center;
}

.btn {
  display: flex;
  flex: 1;
  background-color: #f15352;
  opacity: 0.8;
}

.btn.btnLogOut {
  width: 80px;
  height: 50px;
}

.btnText {
  flex: 1;
  font-size: 15px;
  text-align: center;
}

.name {
  flex: 1;
  color: #fff;
  display: inline-block;
}
